
.ButtonDesign{
    width: 100%; 
    padding: 1rem; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.5rem; 
    border: none; 
    color: white;
    background-color: var(--purple);
    border-radius: 0.7rem; 
}

.ButtonDesign:hover{
    background-color: var(--lila);
}