
.TasksContainer{
    height: 300px;
    margin: 20px;
    overflow-y: scroll;
}

@media(min-width: 720px){
    .TasksContainer{
        height: 400px;
    }
}

.TasksWithOut{
    text-align: center; 
    
}
